ion-img {
  width: 80%;
  display: block;
  margin: 20px auto;
}

ion-searchbar {
  font-family: rainyhearts;
  margin: 10px auto;
  width: 80%;
  --border-radius: 10px;
}

ion-card {
  font-family: rainyhearts;
  margin: 15px auto;
  width: 75%;
  padding: 10px;
  border-radius: 20px;
}

ion-card img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

ion-tab-button {
  padding-bottom: 5px;
}

ion-tab-button.tab-selected {
  color: var(--ion-color-primary); /* Ou direto: color: blue; */
}

ion-tab-button.tab-selected ion-icon {
  color: var(--ion-color-primary);
}

ion-tab-button.tab-selected ion-label {
  color: var(--ion-color-primary);
}