ion-header, ion-content, ion-footer {
       --ion-background-color: #F4D23C;
}

ion-img {
  width: 80%;
  display: block;
  margin: 20px auto;
}

ion-title {
  margin-bottom: 25px;
}

ion-button {
  font-family: rainyhearts;
  margin: 100px auto;
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #fff;

  ion-text {
    text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
  }
  
}

ion-footer {
  margin-bottom: 30px;
}

ion-title.rodape {
  font-family: rainyhearts;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
}

ion-text.rodape {
  font-family: rainyhearts;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 20px auto 40px auto;
  text-align: center;
  display: block;
  text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
}

.blink_me {

    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}